
        const ${TEAM_NAME_LOWER_CASE} = new github.TeamRepository("${PULUMI_RESOURCE_NAME}${REPOSITORY_NAME}TeamRepository", {
            teamId: team.id,
            repository: "${REPOSITORY_NAME}",
            permission: "${REPOSITORY_PERMISSION}",
        });
