
        const ${REPOSITORY_VAR} = new github.TeamRepository("${PULUMI_RESOURCE_NAME}TeamRepository", {
            teamId: team.id,
            repository: "${REPOSITORY_NAME}",
            permission: "${REPOSITORY_PERMISSION}",
        }, {
            import: "${TEAM_ID}:${REPOSITORY_NAME}",
            protect: true,
        });
